/* @font-face {
    font-family: Special_New;
    src: url(/fonts/CharisSIL-Italic.ttf);
  }  */

* {
    font-family: Verdana;
    font-size: 12px;
    margin: 5px 5px 5px 5px;

}
:root {
	--wrapper-margin-top: 100px;
	--wrapper-height: calc(100vh - var(--wrapper-margin-top));
    --box-shadow-color: #bfbfbf;
    --background: #fff;
    --background-body:#A9A9A9;
    --naming_of:#8a2be2;
    --tongle:#dbdbdb;
    --color: blue;
}   
html {
    overflow-x:hidden;
}

body {
    width: 100%;
    background: var(--background-body);
    box-sizing: border-box;
    color: var(--color);
    
}

body.dark{
    --box-shadow-color: #cbc6c6;
    --background: #463b3b;
    --background-body:#704747;;
    --naming_of:#8a2be2;
    --tongle:#dbdbdb;
    --color:rgb(211, 102, 29);
}

.header{
    background: var(--background);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: -8px 50px;
    box-shadow: 0 0 16px 3px var(--box-shadow-color);    
}
h1{
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: initial;
    margin: auto;
    
  }
h2{
    font-family: Special_New;
    font-size: 25px;
  }

  .menu, ul{
      list-style-type: none;
      text-decoration: none;
      text-align: center;
      display: flex;
      flex-direction: row;
  }

.slides{
    width: 600px;
    height: 500px;
    /* border-radius: 10px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* {
    transition: 1s;
 */
/* } */

.slides img{
    /* display: none; */
    width: 800px;
    height: 480px;
    float: none;
    border-radius: 15px;
}

.block{
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btnRight{
    float: right;
    margin: 0px 60px 20px 20px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.btnRight:hover{
    background-color: var(--tongle);
    border-radius: 5px;

}

.container {
    margin: 0 50px 5px 50px;
    padding-top: 10px;
    background: var(--background);
    box-shadow: 0 0 16px 3px var(--box-shadow-color);
    height: fit-content;
}


.photo {
    float: left;
    
    padding: 10px 10px 30px 10px;
    margin: 20px 24px 10px 30px;
}

#toggle-theme-btn {
    /* position: absolute; */
    /* top: 20px; */
    /* left: 20px; */
    /* padding: 10px; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
    }
    
#toggle-theme-btn:hover {
    background: var(--tongle);
}
    
#toggle-theme-btn img {
    width: 32px;
}

.content{
    text-align: justify;
    padding-right: 40px ;
    padding-left: 40px;
    padding-bottom: 40px ;

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

a{
    color: #4682B4;
    font-size: 15px;
}

a:visited{
    color: green;
}
a:hover{
    color: brown;
}

.notice {
    text-align: center;
    float: left;
}

.scroll {
    text-align: center;
    float: right;
}
@media screen and (min-width:320px) and (max-width:1024px) {
    html,body,.container,.content,.menu,p, .footer{
      width: 100%;
}
}